<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/resources/**" security="none"/>
    <beans:bean class="org.springframework.security.crypto.password.NoOpPasswordEncoder"
                id="passwordEncoder"
                factory-method="getInstance"/>

    <http name="restSecurityFilterChain" create-session="never">
        <intercept-url pattern="/profile/register" access="isAnonymous()"/>
        <intercept-url method="DELETE" pattern="/restaurants/**" access="hasRole('ADMIN')"/>
        <intercept-url method="POST" pattern="/restaurants/*/vote/**" access="isAuthenticated()"/>
        <intercept-url method="PUT" pattern="/restaurants/*/vote/**" access="isAuthenticated()"/>
        <intercept-url method="POST" pattern="/restaurants/**" access="hasRole('ADMIN')"/>
        <intercept-url method="PUT" pattern="/restaurants/**" access="hasRole('ADMIN')"/>

        <intercept-url method="DELETE" pattern="/menus/**" access="hasRole('ADMIN')"/>
        <intercept-url method="POST" pattern="/menus/**" access="hasRole('ADMIN')"/>
        <intercept-url method="PUT" pattern="/menus/**" access="hasRole('ADMIN')"/>

        <intercept-url method="POST" pattern="/votes/**" access="isAuthenticated()"/>
        <intercept-url method="PUT" pattern="/votes/**" access="isAuthenticated()"/>

        <intercept-url pattern="/admin/**" access="hasRole('ADMIN')"/>
        <intercept-url pattern="/swagger-ui.html" access="permitAll()"/>
        <intercept-url pattern="/swagger-resources/**" access="permitAll()"/>

        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <http-basic/>
        <csrf disabled="true"/>
    </http>


    <authentication-manager>
        <authentication-provider user-service-ref="userService">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>
</beans:beans>